h1{
  @include estiloH1;
  padding-top: 5px;
  text-align: center;

}
.containerTelefonos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    color: $colorLetra;
    text-decoration: none;
    margin: 10px 250px;
    @include bg-borde;
    p{
        @include estiloParrafos;
        color: $colorLetraOscura;
        text-decoration: none;
        padding: 0px 50px;
        margin: 50px;
    }
    a{
        color: $colorLetraOscura;
        font-size: 32px;
      
    }
    a:hover{
        color: $colorLetra;
    }
    i{
        padding: 0px 20px;
        font-size: 34px;
    }
}
.containerUbicacion{
    display: flex;
    justify-content:space-evenly;
    color:$colorLetraOscura;
    &__mapa{
        h2{
            @include estiloH1;
            text-align: center; 
            padding: 20px;
        }
        iframe{
            align-content: center;
        }
    }
}

