.containerTituloEntrevistas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.tituloEntrevistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo{
        @include estiloH1;
    }
}
.textoDeInicio{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    @include bg-borde;
    margin:20px 150px;
    justify-content: center;
    align-items: center;
    &__Parrafo{
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        @include estiloParrafos;
    }
}
.containerYoutube{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    padding: 30px;
    margin: 30px;
    justify-items: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.234);
    .img__deporteAdultos{
        background-image: url(../Assets/img/deporteAdultos.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__diabetes{
        background-image: url(../Assets/img/diabetes.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__vitaminas{
        background-image: url(../Assets/img/vitaminas.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__siesta{
        background-image: url(../Assets/img/dormirSiesta.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__HTA{
        background-image: url(../Assets/img/HipertensionAmistad.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__arritmia{
        background-image: url(../Assets/img/arritmiaACV.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__envejecimientoVascular{
        background-image: url(../Assets/img/envejecimientoVascular.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
    .img__aspirina{
        background-image: url(../Assets/img/aspinina.png);
        @include imgEntrevistas;
        .boton{
            @include btnEntrevistas;
        }
        .boton:hover{
            @include btnHover;
        }
    }
}
.btn {
    text-decoration: none;
    margin: 0px 30px;
}




