.containerTituloEntrevistas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.tituloEntrevistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo{
        @include estiloH1;
    }
}
.textoDeInicio{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    background-color: #212529;
    border: solid 3px rgba(255, 255, 255, 0.2);
    margin:20px 150px;
    justify-content: center;
    align-items: center;
    &__Parrafo{
        grid-row: 2/3;
        grid-column: 2/3;
        font-family: "heebo-Regular";
        color:whitesmoke;
        text-align: center;
        font-size: 18px;
    }
}
iframe{
    height: 500px;
}