.containerTituloEntrevistas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.tituloEntrevistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo{
        @include estiloH1;
    }
}
.textoDeInicio{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    @include bg-borde;
    margin:20px 150px;
    justify-content: center;
    align-items: center;
    &__Parrafo{
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        @include estiloParrafos;
    }
}
// .card-group{
//     display: flex;
//     justify-content: space-around;
// }
// .card{
//     border: none;
//     margin: 20px;
//     padding: 30px;
// }

.containerYoutube{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 40px;
    // img{
    //     width: 450px;
    //     height: 300px;
    //     margin: 30px;
    // }

   
    // &__8{
    //     grid-column: 1/2;
    //     grid-row: 1/2;
    //     @include posicionElemento
    // }
    // &__7{
    //     grid-column: 2/3;
    //     grid-row: 1/2;
    //     @include posicionElemento
    // }
    // &__6{
    //     grid-column: 1/2;
    //     grid-row: 2/3;
    //     @include posicionElemento
    // }
    // &__5{
    //     grid-column: 2/3;
    //     grid-row: 2/3;
    //     @include posicionElemento
    // }
    // &__4{
    //     grid-column: 1/2;
    //     grid-row: 3/4;
    //     @include posicionElemento
    // }
    // &__3{
    //     grid-column: 2/3;
    //     grid-row: 3/4;
    //     @include posicionElemento
    // }
    // &__2{
    //     grid-column: 1/2;
    //     grid-row: 4/5;
    //     @include posicionElemento
    // }
    // &__1{
    //     grid-column: 2/3;
    //     grid-row: 4/5;
    //     @include posicionElemento
    // }
}
.btn {
    text-decoration: none;
    margin: 0px 30px;
}




