#titulo{
    @include estiloH1;
    display: flex;
    justify-content: center;
}
.listadoEstudios{
    display: flex;
    background-color:$colorbg;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    &__Estudios{
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: $colorLetra;
        padding: 5px;
        transition: all 0.3s;
    }
    &__Estudios:hover{
        transform: scale(1.1);
        font-weight:bolder;
        background-color: whitesmoke;
        color: #212529;
        font-weight: bold;
    }
}
// ELECTROCARDIOGRAMA

.estudioDefinicionEcg{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }

} 
.estudioDefinicionHolter{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionMapa{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionErgo{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEcocardio{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEcoVasos{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEdadArt{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}