#titulo{
    @include estiloH1;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.listadoEstudios{
    display: flex;
    background-color:rgba(51, 51, 51, 0.234);
    height: 50px;
    padding: 30px 5px;
    align-items: center;
    justify-content: space-evenly;
    &__Estudios{
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;        
        color: $colorLetraOscura;
        padding: 5px;
        transition: all 0.3s;
    }
    &__Estudios:hover{
        transform: scale(1.1);
        background-color: #212529;
        color: $colorLetra;
    }
}
// ELECTROCARDIOGRAMA

.estudioDefinicionEcg{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }

} 
.estudioDefinicionHolter{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionMapa{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionErgo{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEcocardio{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEcoVasos{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}
.estudioDefinicionEdadArt{
    @include estudios-definicion;
     &__titulo{  
         @include titulo-estudios;
    }
     &__img{
        @include img-estudios;
        margin-top: 70px;
    }
     &__parrafo{
        @include parrafo-estudios;
    }
     &__boton{
        @include boton-estudios;
    }
     &__boton:hover{
        @include hover-boton-estudios;
    }
}