@font-face {
    font-family: "hindSiliguri-Light";
    src: url(../Assets/Fonts/HindSiliguri-Light.ttf);
}
@font-face {
    font-family: "hindSiliguri-Bold";
    src: url(../Assets/Fonts/HindSiliguri-Bold.ttf);
}
@font-face {
    font-family: "heebo-light";
    src: url(../Assets/Fonts/Heebo-Light.ttf);
}
@font-face {
    font-family: "heebo-regular";
    src: url(../Assets/Fonts/Heebo-Regular.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../Assets/Fonts/Lato-Regular.ttf);
}
*{
    margin:0px;
    padding: 0px;
}