main{
    background-image:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), 
    url(../Assets/img/esquina.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
 }
/* WHATSAPP */

.linkWhas{
    position: fixed;
    width: 55px;    
    height: 55px;
    line-height: 55px;  
    bottom: 30px;   
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba (0, 0, 0, 0.3);
    z-index: 100;
    transition: all .3s ease-in-out
}
.linkWhas:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
    transform: scale(1.2, 1.2);
}
 /* index html */

 .navbar-toggler-icon{
    background-color: whitesmoke;
 }
 .navbar-toggler{
    border: none !important;
 }
 .navbar-toggler:focus{
    box-shadow: none !important;
 }
 .nav-link{
    transition: all .3s;
 }
 .nav-link:hover{
    transform: scale (1.1);
    color: #212529 !important;
    background: whitesmoke;
    font-weight: bold;
 }
 .NuestraHistoria{
    display: flex;
    flex-direction: column;
    &__titulo{
        display: flex;  
        justify-content: center;
        h1 {
            @include estiloH1;
        }
    }
    &__parrafo{
        display: flex;
        justify-content: center;
        margin: 20px 70px;
        background-color: $colorbg;
        border: solid 3px rgba(255, 255, 255, 0.2);
        p {
            @include estiloParrafos;
            padding: 25px;
            margin: 10px;
        }
    }
 }