@mixin estudios-definicion{
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns:  30px 1fr 1fr 1fr 1fr 1fr 30px;
    @include bg-borde;
    margin: 50px;
    padding: 22px;
}
@mixin titulo-estudios{
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: start;
    margin-top: 15px;
    font-size: 20px;
    color:$colorLetra;
}
@mixin img-estudios{
    grid-column: 2/3;
    grid-row: 2/2;
    width: 100%;
    margin: 25px 20px 30px 0px
}
@mixin parrafo-estudios{
    grid-column: 3/7;
    grid-row: 2/4;
    padding-left: 30px;
    font-size: 20px;
    font-family: "'Lato', sans-serif";
    color:$colorLetra;
}
@mixin boton-estudios{
    grid-row: 4/5;
    grid-column: 6/7;
    padding:10px 0px;
    font-weight: bold;
    text-align: end;
    justify-content: end;
    color: $colorLetra;
    text-decoration: none;
    transition: all 0.2s;
}
@mixin hover-boton-estudios{
    transform: scale(1.1);
}
@mixin estiloH1{
    color: $colorLetra;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}
@mixin estiloParrafos{
    font-family: 'Lato', sans-serif;
    color:$colorLetra;
    text-align: center;
    font-size: 22px;
}
@mixin bg-borde{
    background-color: $colorbg;
    border: $borde;
}
@mixin posicionElemento{
    justify-self:center;
    align-self: center;
}