@mixin estudios-definicion{
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns:  30px 1fr 1fr 1fr 1fr 1fr 30px;
    background-color: rgba(51, 51, 51, 0.234);
    margin: 50px;
    padding: 22px;
}
@mixin titulo-estudios{
    justify-self: center;
    align-self: center;
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: start;
    margin-top: 15px;
    font-size: 25px;
    color:$colorLetraOscura;
}
@mixin img-estudios{
    justify-self: center;
    align-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 90%;
    margin: 25px 20px 30px 0px
}
@mixin parrafo-estudios{
    justify-self: center;
    align-self: center;
    grid-column: 4/7;
    grid-row: 2/4;
    padding-left: 30px;
    font-size: 20px;
    font-family: "'Lato', sans-serif";
    color:$colorLetraOscura;
}
@mixin boton-estudios{
    grid-row: 4/5;
    grid-column: 6/7;
    padding:10px 0px;
    font-weight: bold;
    text-align: end;
    justify-content: end;
    color: $colorLetraOscura;
    text-decoration: none;
    transition: all 0.2s;
}
@mixin hover-boton-estudios{
    transform: scale(1.1);
    color:$colorLetra;
}
@mixin estiloH1{
    color:#212529;
    font-weight:bold !important;
    padding-top:30px;
    font-family:'Nunito', sans-serif;
}
@mixin estiloParrafos{
    font-family: 'Lato', sans-serif;
    color:$colorLetraOscura;
    text-align: center;
    font-size: 22px;
}
@mixin bg-borde{
    background-color:rgba(51, 51, 51, 0.234);
    border: $borde;
}
@mixin posicionElemento{
    justify-self:center;
    align-self: center;
}
@mixin imgEntrevistas{
    width: 400px;
    height: 250px;
    padding-top: 190px;
    padding-left: 290px;
    background-repeat: no-repeat;
    background-size: contain; 
}
@mixin btnEntrevistas{
    color:$colorLetraOscura;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    background-color:whitesmoke;
    padding: 10px;
    transition: all 0.3s;
}
@mixin btnHover{
    background-color: $colorbg;
    color:$colorLetra;
}
@mixin estudioDefinicionMQ{
    grid-template-rows: 30px 1fr;
    @include bg-borde;
    height: auto;
    grid-column: 2/6;
}
@mixin tituloEstudiosMQ{
    color: $colorLetraOscura;
    grid-column: 1/8;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
@mixin imgEstudiosMQ{
    grid-row: 2/3;
    grid-column: 2/7;
    width: 50%;
}
@mixin parrafoEstudiosMQ{
    color: $colorLetraOscura;
    grid-column: 1/8;
    grid-row: 3/5;
    padding-left: 0px;
    text-align: center;
    font-size: 15px;
}
@mixin estudioDefinicionMQ1024{
    grid-template-rows: 20px 1fr 20px;
    @include bg-borde;
    height: auto;
    grid-column: 2/6;
}
@mixin imgEstudiosMQ1024{
    grid-row: 2/3;
    grid-column: 2/7;
    width: 40%;
}