.containerTituloTxtoServicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo{
        @include estiloH1;
        padding-bottom: 20px;
    }
}
.containerListaServicios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include bg-borde;
    &__listado{
        text-decoration: none;
        color: $colorLetraOscura;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        margin: 20px 0px 30px 0px;
        font-size: 20px;
        padding: 8px;
        margin: 5px;
    }
}
.containerTxtoServicios{
    display: grid;
    margin: 50px 150px;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    @include bg-borde; 
    &__parrafo{
        @include estiloParrafos;
        grid-column: 2/5;
        grid-row: 2/3;
        text-align: center;
        padding: 25px;
    }
}